* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
header {
  background-color: aquamarine;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0; /* Ensures the header stays at the top */
  z-index: 1000;
  width: 100%;
  border-bottom: 2px solid #000;
}
.heade {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0% auto;
  /* padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%; */
  font-family: Arial, Helvetica, sans-serif;
}
.head {
  display: flex;
  gap: 10%;
  margin-top: 2%;
}
.home {
  transition: color 0.3s, transform 0.3s ease-in-out;
  color: black;
  text-decoration: none;
}
.home:hover {
  transform: scale(1.1);
  color: rgb(7, 7, 7);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

/* Dark Mode Toggle Styling */
.toggle-btn {
  position: relative;
  margin-bottom: 1.8%;
}

.toggle-btn input[type="checkbox"] {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]:checked + .toggle-label {
  background-color: #333;
}

input[type="checkbox"]:checked + .toggle-label::after {
  transform: translateX(20px);
}

/* section1 */
#home {
  background-image: url(https://plus.unsplash.com/premium_photo-1676654935673-fdb42044b7ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60);
  border-bottom: 2px solid aquamarine;
  margin-bottom: 2%;
}
.part1 {
  text-align: center;
  padding-top: 7%;
}
.auto-input {
  color: aquamarine;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.img {
  text-align: center;
  align-items: center;
  animation-name: slidin;
  animation-duration: 2s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  position: relative;
}

/* section2 */
#about {
  text-align: center;
  margin-bottom: 7%;
  margin-top: 7%;
}
.about {
  font-size: xx-large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1%;
  text-decoration: solid;
}
.abo {
  font-size: large;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(136, 134, 134);
}

/* section3 */
#blog {
  background-color: aquamarine;
}

#blog h1 {
  /* font-size: larger; */
  text-align: center;
}

.blog_container {
  max-width: 80%;
  margin: 0% auto;
  align-items: start;
  padding: 3%;
}
.myblogs_container {
  display: grid;
  gap: 40px;
}
.blog {
  background-color: white;
  display: flex;
  width: 70%;
  gap: 5%;
  padding: 10px;
  border-radius: 5px;
}
.text_content {
  flex: 1; /* Equal width for both divs */
  display: grid;
  height: 40vh;
}

.image {
  flex: 1; /* Equal width for both divs */
}

.image img {
  width: 100%; /* Make the image occupy its space */
  height: 60vh; /* Maintain aspect ratio */
}

.blog_design {
  position: absolute;
  left: 80%;
  top: 220%;
  font: bold 12rem Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* background: #f1786c; */
  -webkit-text-stroke: 2px black;
  color: transparent;
  padding: 35px 10px;
  line-height: 24px;
  writing-mode: vertical-rl;
}

/* section5 */
.conne {
  display: flex;
  gap: 20%;
  padding: 10% 0 10% 20%;
}

/* darkmode style */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

@keyframes slidin {
  0% {
    left: 0px;
    top: 0px;
  }
  75% {
    left: 0px;
    top: 20px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
